<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/CSS/dashboardout.css">
    <style>
        /* Agregar estilos para la vista de dispositivos pequeños */
        @media (max-width: 768px) {
            .flex-wrap {
                display: flex;
                flex-wrap: wrap;
            }
            .section-small {
                width: 50%;
            }
        }
    </style>
</head>
<body class="bg-gray-100">
  <div class="min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold text-center text-gray-800 mt-8 mb-6">Edit Project</h1>
      <form  id="update-form">
           <div class="mb-4">
          <label class="block mb-2 text-sm text-gray-600">project Id:</label>
          <input type="" id="project-edit-id"  class=" projectedit w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"value="{{truncs._id}}">
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-sm text-gray-600">project Name</label>
          <input type="text" id="projectedit" name="project" value="{{truncs.project}}" class=" projectedit w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
        </div>
        <div class="mb-4">
          <label for="email" class="block mb-2 text-sm text-gray-600">Devlopper Name</label>
          <input type="text" id="devloperedit" value="{{truncs.developer}}" name="developer" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
        </div>
        <div class="mb-4">
          <label for="password" class="block mb-2 text-sm text-gray-600">Client Name</label>
          <input type="text" id="clientedit" value="{{truncs.client}}" name="client" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
        </div>
        <div class="mb-6">
          <label for="confirmPassword" class="block mb-2 text-sm text-gray-600">status</label>
          {{!-- <input type="text" id="statusedit" name="status" value="{{truncs.status}}" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required> --}}
      <select id="statusedit" value="{{truncs.status}}" name="status" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
        <option value="completed">Completed</option>
        <option value="in_progress">In Progress</option>
        <option value="cancelled">Cancelled</option>
    </select>
        </div>
        <button type="submit" class="w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-2">edit</button>
      </form>
    <div class="form-alert"></div>
      <div class="text-center">
        <p class="text-sm"><a href="/transaction" class="text-cyan-600">Go back</a></p>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const formAlertDOM = document.querySelector('.form-alert');
document.getElementById('update-form').addEventListener('submit', async (e) => {
    e.preventDefault()
    const formData = {
        project: document.getElementById('projectedit').value,
        developer: document.getElementById('devloperedit').value,
        client: document.getElementById('clientedit').value,
        status: document.getElementById('statusedit').value
    };

    const projectId = document.getElementById('project-edit-id').value;

    try {
        const response = await axios.patch(`/transaction/${projectId}`, formData);

        if (response.data.msg === "Project updated successfully") {
          formAlertDOM.style.display = 'block';
            formAlertDOM.textContent = 'Success, task added';
            formAlertDOM.style.color = 'green';
        } else {
            alert('Something went wrong!');
        }
    } catch (error) {
        formAlertDOM.style.display = 'block';
        formAlertDOM.textContent = 'Error, please try again';
        formAlertDOM.style.color = 'red';
   
    }
});
</script>


</body>

</html>